In [2]:
#Add Matplotlib inline magic command
%matplotlib inline

In [4]:
# Dependencies and Setup
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [5]:
#File to load
city_data_to_load= "Resources/city_data.csv"
ride_data_to_load= "Resources/ride_data.csv"

In [29]:
# Read files in Pandas and store it in pandas DataFrame

city_data_df = pd.read_csv(city_data_to_load)
print(city_data_df)
ride_data_df = pd.read_csv(ride_data_to_load)

                city  driver_count   type
0        Richardfort            38  Urban
1       Williamsstad            59  Urban
2        Port Angela            67  Urban
3         Rodneyfort            34  Urban
4        West Robert            39  Urban
..               ...           ...    ...
115     Bradshawfurt             7  Rural
116     New Ryantown             2  Rural
117   Randallchester             9  Rural
118      Jessicaport             1  Rural
119  South Saramouth             7  Rural

[120 rows x 3 columns]

In [14]:
#Get all the rows with null values-City_data_df
city_data_df.count()

city            120
driver_count    120
type            120
dtype: int64

In [15]:
#Get all the rows with null values-Ride_data_df
ride_data_df.count()

city       2375
date       2375
fare       2375
ride_id    2375
dtype: int64

In [24]:
#Alternate method for finding null values
city_data_df.isnull().sum()
ride_data_df.isnull().sum()

city       0
date       0
fare       0
ride_id    0
dtype: int64

In [28]:
#Getting type for driver_count
city_data_df['driver_count'].dtype

dtype('int64')

In [31]:
#Get the unique values of the type of city
city_data_df['type'].unique()

array(['Urban', 'Suburban', 'Rural'], dtype=object)

In [32]:
#Get the number of data points from the Urban cities
sum(city_data_df['type']=='Urban')

66

In [33]:
#Get the number of data points from the Suburban cities
sum(city_data_df['type']=='Suburban')

36

In [34]:
#Get the number of data points from the Rural cities
sum(city_data_df['type']=='Rural')

18

In [35]:
#Get the columns and the rows that are not null
ride_data_df.isnull().sum()

city       0
date       0
fare       0
ride_id    0
dtype: int64

In [36]:
ride_data_df['fare'].dtype

dtype('float64')

In [37]:
ride_data_df['ride_id'].dtype

dtype('int64')

In [38]:
#Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city","city"])

#Display the DataFrame
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban